/* src/components/Hero.css */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('../image/639b3e775b326d648dea3f01_Hero\ Image.svg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-button {
  padding: 15px 30px;
  font-size: 18px;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #21a1f1;
}
